.nh-rating {
    
    color: #ffebaf;
    position: relative;
    display: inline-block;
    font-size: 0;

    .nh-icon {
        margin-right: 0.25rem;
        font-size: .875rem;
    }

    .active {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #ffc000;
        max-width: 100%;
    }
}

.nh-icon {
    display: inline-block;
    font-family: nh-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}