.list-ranking {
    .item {
        
        position: relative;
        padding-left: 2.25rem;

        .index.index-1 {
            bottom: auto;
            top: 1.5rem;
        }

        .content {
            border-bottom: 1px solid #eee;
        }
        
        .index {
            font-weight: 600;
            width: 1.5rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            line-height: 2rem;
            text-align: center;
        }
    }
}


.svg-icon {
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;

    &.icon-medal-1 {
        width: 1.5rem;
        height: 2rem;
        background-image: url(./assets/medal-1.svg);
    }

    &.icon-medal-2 {
        width: 1.5rem;
        height: 2rem;
        background-image: url(./assets/medal-2.svg);
    }

    &.icon-medal-3 {
        width: 1.5rem;
        height: 2rem;
        background-image: url(./assets/medal-3.svg);
    }
}

.book-cover {
    -webkit-transform: perspective(70px) rotateY(-10deg);
    -moz-transform: perspective(70px) rotateY(-10deg);
    transform: perspective(70px) rotateY(-10deg);

    img {
        width: 70px;
        height: 105px;
        outline: 1px solid transparent;
    }

    &::after {
        position: absolute;
        z-index: 2;
        top: 2%;
        left: 99%;
        width: 10%;
        height: 96%;
        content: " ";
        -webkit-transform: perspective(70px) rotateY(30deg);
        -moz-transform: perspective(70px) rotateY(30deg);
        transform: perspective(70px) rotateY(30deg);
        background-color: #efefef;
        -webkit-box-shadow: inset 0 0 5px #333;
        -moz-box-shadow: inset 0 0 5px #333;
        box-shadow: inset 0 0 5px #333;
    }

    .book-cover-link {
        position: relative;
        z-index: 10;
        display: inline-block;
        -webkit-transform: translateZ(50px);
        -moz-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}