:root {
    --bs-primary-rgb: 254, 52, 100;
    --bs-primary-bg: #fe3464;
    --color-blue: rgb(0, 101, 238);
    --main-background: #f8fafc;

    --bs-border-radius: 0.8rem;
}

.btn-primary {
    --bs-btn-bg: rgb(var(--bs-primary-rgb));
    --bs-btn-border-color: rgb(var(--bs-primary-rgb))
}


@import 'bootstrap/dist/css/bootstrap.min.css';


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}


body { --bs-body-font-family: 'Nunito Sans'; }

a {
    text-decoration: inherit;
}

.shadow {
    box-shadow: 0 0rem 1rem rgb(0 0 0 / 8%) !important;
}

.flex-basis-0 {
    flex-basis: 0%;
}

button:active,
button:focus,
input:active,
input:focus,
.dropdown button {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.tooltip .tooltip-arrow::before {
    content: none;
}

.tooltip-inner {
    background-color: #0e0e0ebf;
    font-weight: 600;
}

.popover {
    max-width: 400px;
    z-index: 9999;

    &.shadow {
        box-shadow: 0 0rem 1rem rgb(0 0 0 / 8%) !important;
    }
}


.navbar-nav {
    .nav-item {
        button.actived {
            background-color: var(--color-blue);
            color: white;
        }
    }
}


html {
    height: 100%;
}

body, #root, .App {
    height: 100%;
}

#main, footer {
    background-color: var(--main-background);
}

.text-blue {
    color: var(--color-blue);
}

.text-overflow-lines-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-overflow-lines-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.novel-type-2 {
    .novel-description {
        line-height: 16px;
    }
}

.fz-body {
    font-size: .9375rem;
}

.nh-thumb {

    &.nh-thumb--210 {
        width: 210px;
    }

    display: inline-block;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    &>img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 100%;
        min-height: 100%;
    }

    &::before {
        padding-top: 133.333333%;
        content: "";
        display: block;
    }

}

.nh-avatar {
    
    position: relative;

    &:before {
        padding-top: 100%;
        display: block;
        content: "";
    }

    &.nh-avatar--90 {
        width: 90px;
    }


    &>img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        margin: auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .level {
        position: absolute;
        bottom: -0.125rem;
        line-height: 1.5;
        padding: 0 0.75rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        white-space: nowrap;
    }
}

.nh-rating {
    .nh-icon {
        margin-right: 0.25rem;
        font-size: .875rem;
    }

}

@font-face {
    font-family: nh-icon;
    src: url(./assets/fonts/icon.eot);
    src: url(./assets/fonts/icon.eot?#iefix) format("eot"),url(./assets/fonts/icon.woff2) format("woff2"),url(./assets/fonts/icon.woff) format("woff"),url(./assets/fonts/icon.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

.nh-icon {

    display: inline-block;
    font-family: nh-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.icon-star{
        &:before {
            content: "\EA1E";
        }
    }


    .active {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #ffc000;
        max-width: 100%;
    }
}